<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddJob</servlet-name>
        <servlet-class>servlet.AddJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>servlet.AddCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJob</servlet-name>
        <servlet-class>servlet.EditJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteJob</servlet-name>
        <servlet-class>servlet.DeleteJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReListJob</servlet-name>
        <servlet-class>servlet.ReListJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReAddJob</servlet-name>
        <servlet-class>servlet.ReAddJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReListCompany</servlet-name>
        <servlet-class>servlet.ReListCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReAddCompany</servlet-name>
        <servlet-class>servlet.ReAddCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddJob</servlet-name>
        <url-pattern>/AddJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/AddCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJob</servlet-name>
        <url-pattern>/EditJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJob</servlet-name>
        <url-pattern>/DeleteJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReListJob</servlet-name>
        <url-pattern>/ReListJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReAddJob</servlet-name>
        <url-pattern>/ReAddJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReListCompany</servlet-name>
        <url-pattern>/ReListCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReAddCompany</servlet-name>
        <url-pattern>/ReAddCompany</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
    <welcome-file>AddJob.jsp</welcome-file>
</welcome-file-list>
</web-app>
