<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ReListContact</servlet-name>
        <servlet-class>servlet.ReListContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReAddContact</servlet-name>
        <servlet-class>servlet.ReAddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReAddGroup</servlet-name>
        <servlet-class>servlet.ReAddGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddContact</servlet-name>
        <servlet-class>servlet.AddContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditContact</servlet-name>
        <servlet-class>servlet.EditContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContact</servlet-name>
        <servlet-class>servlet.DeleteContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReListGroup</servlet-name>
        <servlet-class>servlet.ReListGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>servlet.AddGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReListContact</servlet-name>
        <url-pattern>/ReListContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReAddContact</servlet-name>
        <url-pattern>/ReAddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReAddGroup</servlet-name>
        <url-pattern>/ReAddGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddContact</servlet-name>
        <url-pattern>/AddContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditContact</servlet-name>
        <url-pattern>/EditContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContact</servlet-name>
        <url-pattern>/DeleteContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReListGroup</servlet-name>
        <url-pattern>/ReListGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/AddGroup</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
    <welcome-file>AddContact.jsp</welcome-file>
</welcome-file-list>
</web-app>
