USE [master]
GO
/****** Object:  Database [J2.S.P0106]    Script Date: 8/11/2019 11:40:15 AM ******/
CREATE DATABASE [J2.S.P0106]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J2.S.P0106', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\J2.S.P0106.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'J2.S.P0106_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\J2.S.P0106_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J2.S.P0106].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J2.S.P0106]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 8/11/2019 11:40:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockId] [int] NULL,
	[StockName] [varchar](50) NULL,
	[Address] [text] NOT NULL,
	[DateAvailable] [date] NOT NULL,
	[Note] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Stocks] ([StockId], [StockName], [Address], [DateAvailable], [Note]) VALUES (1, N'Stock one', N'No1- Washington strees', CAST(N'2010-11-05' AS Date), N'bla bal')
INSERT [dbo].[Stocks] ([StockId], [StockName], [Address], [DateAvailable], [Note]) VALUES (2, N'Stock two', N'Karaoke-TranDuyHung', CAST(N'2019-11-08' AS Date), N'okie')
INSERT [dbo].[Stocks] ([StockId], [StockName], [Address], [DateAvailable], [Note]) VALUES (3, N'Strock three', N'Alohe', CAST(N'2016-12-03' AS Date), N'hmm')
USE [master]
GO
