<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterJsp</filter-name>
        <filter-class>fitler.FilterJsp</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterJsp</filter-name>
        <url-pattern>/index.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterJsp</filter-name>
        <url-pattern>/header.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterJsp</filter-name>
        <url-pattern>/container.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>com.controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoController</servlet-name>
        <servlet-class>com.controller.InfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsPost</servlet-name>
        <servlet-class>com.controller.DetailsPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/MenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoController</servlet-name>
        <url-pattern>/InfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsPost</servlet-name>
        <url-pattern>/DetailsPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
</web-app>
