.myTitle {
    font-size: 30px;
    font-weight: bold;
  }

  .mySpan {
    font-weight: bold;
  }

  .myTable {
    margin: 0 auto;
    display: flex;
  }
  .myTableField {
    text-transform: uppercase;
    margin: 0 auto;
    display: flex;
  }
  .myItemField {
    background: #6b90da;
    margin: 1px;
    color: black;
    height: 30px;
    text-align: left;
    line-height: 30px;
    width: 1000px;
  }
  .myItem {
    margin: 1px;
    font-size: 16px;
    text-align: left;
    width: 1000px;
  }
  .myCode {
    color: #5c58f1;
  }
  .absent {
    color: red;
  }
  .present{
    color: green;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  a:link {
    color: blue;
    text-decoration: none;
}