USE [master]
GO
/****** Object:  Database [J3.L.P0047]    Script Date: 7/21/2019 5:28:08 PM ******/
CREATE DATABASE [J3.L.P0047]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'J3.L.P0047', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\J3.L.P0047.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'J3.L.P0047_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\J3.L.P0047_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [J3.L.P0047].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [J3.L.P0047]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/21/2019 5:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[parentId] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Category] ([id], [name], [parentId]) VALUES (0, N'root', NULL)
INSERT [dbo].[Category] ([id], [name], [parentId]) VALUES (1, N'Smartphone', 0)
INSERT [dbo].[Category] ([id], [name], [parentId]) VALUES (2, N'Tablet', 0)
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category] FOREIGN KEY([parentId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category]
GO
USE [master]
GO
