USE [master]
GO
/****** Object:  Database [UserDB]    Script Date: 4/29/2018 2:10:12 AM ******/
CREATE DATABASE [UserDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserDB]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/29/2018 2:10:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [varchar](25) NOT NULL,
	[Password] [varchar](50) NULL,
	[Role] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[User] ([UserName], [Password], [Role]) VALUES (N'admin', N'12345', 1)
INSERT [dbo].[User] ([UserName], [Password], [Role]) VALUES (N'manager', N'54321', 2)
INSERT [dbo].[User] ([UserName], [Password], [Role]) VALUES (N'user', N'55555', 3)
USE [master]
GO
