body {
  background-color: #43A047 !important;
}

/* LOGIN, REGISTER */
.container-login {
  width: 60%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 60px;
}

/* QUIZ */
.container-quiz {
  width: 80%;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 15px;
  padding: 60px;
}
.btn {
  margin-right: 15px;
}
.finish {
  margin-top: 20px;
  margin-bottom: 20px;
}
.error {
  color: red;
}