USE [master]
GO
/****** Object:  Database [FU_DB]    Script Date: 8/13/2019 10:54:04 PM ******/
CREATE DATABASE [FU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FU_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FU_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FU_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FU_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FU_DB]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 8/13/2019 10:54:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockId] [int] NOT NULL,
	[StockName] [text] NULL,
	[Address] [text] NULL,
	[DateAvailable] [text] NULL,
	[Note] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
